In [3]:
import pandas as pd
import db_connect
import os

In [4]:
earth_weather_data = db_connect.earth_weather_data()

Successfully connected to the database!

In [5]:
daily_average = earth_weather_data.groupby(['date', 'location']).agg({
    "latitude" : "first",
    "longitude" : "first",
    "temperature_2m" : "mean",
    "relative_humidity_2m" : "mean",
    "rain" : "mean",
    "direct_radiation_instant" : "mean"
}).reset_index()

In [7]:
daily_average.head(25)

,date,location,latitude,longitude,temperature_2m,relative_humidity_2m,rain,direct_radiation_instant
0,1940-01-01 07:00:00,Amazon,63.4608,142.7850,-3.947834,70.938530,0.000000,29.433726
1,1940-01-01 07:00:00,Athens,37.9838,23.7275,4.770000,80.910507,0.000000,73.564957
2,1940-01-01 07:00:00,Everest,37.9838,23.7275,-1.500166,45.085787,0.000000,468.120387
3,1940-01-01 07:00:00,London,63.4608,142.7850,-3.487250,77.565571,0.000000,22.075294
4,1940-01-01 07:00:00,McMurdo,-77.8460,166.6720,-5.665000,83.814812,0.000000,44.064701
5,1940-01-01 07:00:00,Oymyakon,63.4608,142.7850,-35.785000,71.575912,0.000000,0.000000
6,1940-01-01 07:00:00,Sahara,63.4608,142.7850,-18.391250,71.409935,0.000000,44.150589
7,1940-01-01 07:00:00,Serengeti,37.9838,23.7275,14.316500,63.788601,0.000000,352.157814
8,1940-01-01 07:00:00,Sydney,37.9838,23.7275,3.883625,53.950239,0.025000,352.107288
9,1940-01-01 07:00:00,Valley,36.2425,-116.8258,12.831500,53.370739,0.000000,0.000000
10,1940-01-01 07:00:00,Zurich,47.3800,8.5400,-6.515500,75.585197,0.000000,0.000000
11,1940-01-01 08:00:00,Amazon,63.4608,142.7850,-3.047834,67.712161,0.000000,87.601868
12,1940-01-01 08:00:00,Athens,37.9838,23.7275,4.920000,72.928139,0.000000,176.121765
13,1940-01-01 08:00:00,Everest,37.9838,23.7275,-1.050166,41.260125,0.033333,499.213908
14,1940-01-01 08:00:00,London,63.4608,142.7850,-2.574750,75.330235,0.000000,65.701401
15,1940-01-01 08:00:00,McMurdo,-77.8460,166.6720,-5.615000,81.575172,0.000000,26.033474
16,1940-01-01 08:00:00,Oymyakon,63.4608,142.7850,-35.535000,72.373344,0.000000,0.000000
17,1940-01-01 08:00:00,Sahara,63.4608,142.7850,-16.991250,65.919525,0.000000,131.402802
18,1940-01-01 08:00:00,Serengeti,37.9838,23.7275,15.116500,56.621525,0.050000,447.451721
19,1940-01-01 08:00:00,Sydney,37.9838,23.7275,4.146125,51.589541,0.050000,377.305205
20,1940-01-01 08:00:00,Valley,36.2425,-116.8258,12.281500,55.721462,0.000000,0.000000
21,1940-01-01 08:00:00,Zurich,47.3800,8.5400,-5.865500,75.999702,0.000000,4.596783
22,1940-01-01 09:00:00,Amazon,63.4608,142.7850,-1.997833,64.497838,0.000000,143.964406
23,1940-01-01 09:00:00,Athens,37.9838,23.7275,6.920000,67.038246,0.000000,215.579575
24,1940-01-01 09:00:00,Everest,37.9838,23.7275,-0.433500,39.685058,0.000000,457.058487

In [9]:
daily_average["location"].unique()

array(['Amazon', 'Athens', 'Everest', 'London', 'McMurdo', 'Oymyakon',
       'Sahara', 'Serengeti', 'Sydney', 'Valley', 'Zurich'], dtype=object)

In [13]:
daily_average.to_parquet('df.parquet.gzip', compression='gzip')

In [8]:
if not os.path.exists('data'):
    os.makedirs('data')

In [24]:
earth_weather_data['date'] = pd.to_datetime(earth_weather_data['date'])

earth_weather_data['date'] = earth_weather_data['date'].dt.normalize()


agg_methods = {
    "latitude": "first",  # First value of the day
    "longitude": "first",  # First value of the day
    "temperature_2m": "mean",  # Mean value of the day
    "relative_humidity_2m": "mean",  # Mean value of the day
    "rain": "mean",  # Mean value of the day
    "direct_radiation_instant": "mean"  # Mean value of the day
}

for location in earth_weather_data['location'].unique():
    subset = earth_weather_data[earth_weather_data['location'] == location]
    grouped_subset = subset.groupby('date').agg(agg_methods).reset_index()
    grouped_subset.to_parquet(os.path.join('data', f'{location}.parquet.gzip'), index=False, compression="gzip")

In [25]:
test = pd.read_parquet("C:/Users/joana/OneDrive/Desktop/HSLU/3rd_semester/DWL/NASA_Weather_Exploration/streamlit_app/data/Athens.parquet.gzip")

In [26]:
test

,date,latitude,longitude,temperature_2m,relative_humidity_2m,rain,direct_radiation_instant
0,1940-01-01,37.9838,23.7275,6.787647,70.649282,0.000000,55.837811
1,1940-01-02,37.9838,23.7275,6.822083,78.953356,0.037500,36.480755
2,1940-01-03,37.9838,23.7275,3.113750,74.393237,0.000000,31.149315
3,1940-01-04,37.9838,23.7275,5.842917,74.253766,0.041667,39.665123
4,1940-01-05,37.9838,23.7275,9.715833,92.478194,0.533333,1.169472
...,...,...,...,...,...,...,...
30752,2024-03-12,37.9838,23.7275,14.228667,74.713192,0.220833,156.273264
30753,2024-03-13,37.9838,23.7275,12.149500,71.449804,0.004167,133.624271
30754,2024-03-14,37.9838,23.7275,12.966167,67.693356,0.045833,123.039202
30755,2024-03-15,37.9838,23.7275,12.707834,70.671406,0.025000,110.810535
30756,2024-03-16,37.9838,23.7275,13.132834,73.828730,0.016667,125.815451